.navbar{
    background-color: rgb(3,37,65);;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-family: 'Poppins', sans-serif;
}
.card{
    text-align: center;
}
.card-title{
    font-weight: bolder;
}
::selection{
    background: rgb(218, 244, 0);
    color: rgb(7, 7, 7);
}
footer{
    background-color:rgb(3,37,65);
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
}
footer a:visited, footer a:link{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer nav{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}
footer h3{
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bolder;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}